footer {
    background-color:white;
       }

.SeccionContPieDePagina { 
    height: 60px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 9%, rgba(255,132,123,0.2) 15%);
                }           /**Estilo para listas**/

.EnlacesPieDePagina {
    margin: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size:120%;
    text-align: center;
                    }  /**Estilo para enlaces pie de pagina**/

.MenuNavegabledelPieDePagina{
    background-color: rgba(342, 132, 123, .2);
}

