
.navbar-brand{
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size:300%;
    color: rgba(197, 168, 109, 0.795);
}

.container-fluid{

    background: linear-gradient(to bottom,rgba(342, 132, 123, .2),white);
    }