
//mobile

@media only screen and (max-width:375px){
    .SeccionInformativa {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 60rem;
                        }
}

@media only screen and (max-width:375px){
    .TituloFormulario {
            font-size: 1.8rem;
            text-align: center;
            color: white;
                          }
                        }

@media only screen and (max-width:375px){
    .navbar-brand   {
        font-size: 2rem;
                    }
    .boton{
        padding-bottom:2px;
        padding-left: 2px;
        padding-top: 2px;
        padding-right: 10px;
        grid-row: 4/5;
        grid-column: 4/5;
        
                            }
                                        }

                        
